<nav class="navbar navbar-inverse">
	<div class="container-fluid" id="idbarre">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#maNav">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
			</button>
			<a class="navbar-brand lien" data-lien="listeVoyages.html" href="#" >BoVoyage</a>
		</div>
		<div class="collapse navbar-collapse" id="maNav">
			<ul class="nav navbar-nav">
				<li><a href="/BoVoyage2" class="lien">Accueil</a></li>
				<li><a href="#" class="lien">Nous contacter</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" class="lien">S'enregister</a>
				<li><a href="#" class="lien">Se connecter</a>
			</ul>
		</div>
	</div>
</nav>