@CHARSET "ISO-8859-1";
.header{
	padding:3%;
	background-color:#ff6d2f;
}
body{
	background-color:#ffe9df;
}
#main{
	margin-bottom:50px;
}
#main #description{
	padding-left:10%;
	width:85%;
}
#main #affichePrix{
	width:85%;
	padding-top:50px;
	padding-left:10%;
}
.footer{
	background-color:#51534a;
	color:#ffffff;
	margin:5px;
	padding:25px;
	text-align:justify;
}
a{
	color :black;
}
a:hover{
	text-decoration: none;
}
.thumbnail p{
	text-align:center;
}
.thumbnail h3{
	text-align:center;
}
#idbarre{
	background-color:#51534a;
}
.navbar-inverse .navbar-brand{
	color : #ffffff;
}
.navbar-inverse .navbar-nav>li>a {
	color : #ffffff;
}

#maNav ul li a:hover {
    background-color: #252321;
}
#btCommande{
	text-decoration: none;
	background-color:#004284;
	color:white;
	height:
}
